<%-include("partials/header"); -%>
<h1 class="text-center display-3">Home</h1>
<p class="text-center">
  Welcome to Daily Journal, your personal space to document and reflect on your
  daily experiences.<br />
  Our website is designed to help you keep track of your thoughts, emotions, and
  memories in a private and secure platform.<br />
  Whether you're looking to improve your mental health, set goals, or simply
  document your life, Diary Journal is here to help.
</p>
<hr class="py-3" />
<h2 class="text-center display-5">Posts</h2>
<div class="post-cards container py-2">
  <% for (let i = 0 ; i < posts.length ; i++) { %>
  <div class="row justify-content-center py-4">
    <div class="h-100 p-5 bg-light border rounded-3" style="width: 90%">
      <h2><%=posts[i].title%></h2>
      <p><%=posts[i].content.substring(0,500)+"..."%></p>
      <a
        href="/posts/<%=posts[i].title%>"
        class="btn btn-primary font-weight-bold"
        type="button"
      >
        Read More
      </a>
    </div>
  </div>
  <% } %>
</div>

<%-include("partials/footer"); -%>
